/* style.css */

/* This code enables for  page scrolling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;       /* allows for vertical scrolling */
    overflow-x: hidden;     /* Will hide horizontal scroll if there is any overflow */
}


body {
    background-color: #2F4F2F; /* This is the background colour */
    background-image: linear-gradient(rgba(47,79,47,0.9), rgba(47,79,47,0.9));
    color: #F5F5DC; /* light beige is used here for better readability */
    font-family: 'Arial', sans-serif;
    /* margin/padding have already been handled here that's why the coding specifically for them are not stated here.*/
}

/* The navigation bar is situated here */
nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #0B3D0B; /* Here are the links placed in dark green */
    font-weight: bold;
}

nav a:hover {
    color: #A9DFBF; /* lighter green hover */
}

/* Styling for the first heading goes here */
h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

/* The styling for the main paragraph goes here */
p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 700px;
}


button, .btn {
    background-color: #6B8E23; /* Background colour for the buttons */
    color: #F5F5DC;
    padding: 10px 20px;     /* Space between the two buttons for most of the web pages. Like the next button and backbutton */
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover, .btn:hover {
    background-color: #556B2F; /* darker green on hover */
}

/* In this corner the text is centered vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
     
    padding: 50px;
}
